/* Login.css */

body {
    background-image: url("C:\Users\Josep\Desktop\auth-app\src\Imagenes\FondoActividad2.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
/* Estilos generales para el formulario */
.form_control {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para los mensajes de error */
div[aria-invalid="true"] {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos en caso de una versión móvil */
@media (max-width: 768px) {
    label {
        display: block;
        margin-bottom: 5px;
    }
}
